:root {
    --blue: #8b3513 ;
    /* --blue:#287bff; */
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;
    
    }
    /* End Variables */
    /* Start Global Rules */
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Open Sans", sans-serif;
    
    }
    html {
      scroll-behavior: smooth;
    }
    body {
      min-height: 100vh;
      overflow-x: hidden;
      position: relative;
      /* font-size: 13px; */
    
    }
    ul {
      list-style: none;
    }
    .container {
    position: relative;
    width: 100%;
    }
    .navigation{
      position: fixed;
      width: 300px;
      height: 100%;
      background-color: var(--blue);
      border-left: 10px solid var(--blue);
      transition: 0.5s;
      overflow: hidden;
    }
    .navigation.active{
      width: 80px;
    }
    .navigation ul{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .navigation ul li{
      position: relative;
      width: 100%;
      list-style: none;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    .navigation ul li:hover,
    .navigation ul li.hovered{
      background-color: var(--white);
    }
    .navigation ul li:nth-child(1){
      margin-bottom:40px;
      pointer-events: none;
      font-weight: bolder;
    
    }
    .navigation ul li a{
      position: relative;
      display: block  ;
      width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    }
    .navigation ul li:hover a,
    .navigation ul li.hovered a{
      color: var(--blue);
    }
    .navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    }
    .navigation ul li a .icon i{
      font-size: 1.75em;
    }
    .navigation ul li a .icon img{
      font-size: 1.75em;
      width: 1.6em;
      margin-top: 6px;
    }
    .navigation ul li a .title{
    position: relative;
    padding: 0 10px;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    }
    .navigation ul li:hover a::before,
    .navigation ul li.hovered a::before{
      content: '';
      position: absolute;
      right: 0;
      top: -50px;
      height: 50px;
      width: 50px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 35px 35px  0 10px var(--white);
    }
    .navigation ul li:hover a::after,
    .navigation ul li.hovered a::after
    {
      content: '';
      position: absolute;
      right: 0;
      bottom: -50px;
      height: 50px;
      width: 50px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: 35px -35px  0 10px var(--white);
      pointer-events: none;
    }
    /* end nav */
    .main{
      position: absolute;
      left: 300px;
      width: calc(100% - 300px);
    
      min-height: 100vh;
      background-color: var(--white);
      
      transition: 0.5s;
    }
    .main.active{
      left: 80px;
      width: calc(100% - 80px);
    
    }
    .topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    }
    .toggle{
      position: relative;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.5em;
      cursor: pointer;
    }
 
    .user{
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
    }
    .user img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    }
    .content .title{
      text-align: center;
      color: var(--blue);
      font-size: 40px;
      
    }
    .details{
      width: 100%;
    }
   
    .details .img{
      position: relative;
      width: 80%;
      margin: 20px auto;
      height: 800px;
      border-radius: 30px;

  

    }
    .details .img img{
      
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;



    }
  .home-section{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-top: 30px;
  }
  .home-section .home-img{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin:0 30px;
      text-align: center;


  }
  .home-section .home-img img{
    width:70%;
  }
  .home-section .home-info{
    padding: 30px;
  }
  .home-section .home-info h2{
    font-size: 30px;
    margin: 10px 0;
    color: var(--blue);
  }
  .home-section .home-info p{
    color: #2e2d2d;
    font-size: 18px;
    line-height: 1.6;
  }
  .home-section .home-info p span{
    display: block;
    margin-top: 20px;
  }
    .add-user{
      position: relative;
padding: 0 10px;
margin-top: 10px;
text-align: end;
    }
    .add-user a{
      text-decoration: none;
      border: 1px solid var(--blue);
     padding: 12px 18px;
     border-radius: 6px;
     font-size: 22px;
     color: var(--blue);
     background-color: var(--white);
     cursor: pointer;
     transition: all 0.5s;
    }
    .add-user a:hover{
      color: var(--white);
      background-color: var(--blue);
    }
    .user-access{
      position: relative;
      margin: 20px;
     
    }
    .user-access h2{
      font-size: 26px;
    }
    .UserAccessTable{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .UserAccessTable table{
      border-collapse: collapse;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px 0;


    }
    .UserAccessTable table thead tr{
      border-bottom: 1px solid var(--black2);
      font-size: 18px;
      font-weight: bold;
 
    }
    .UserAccessTable table tr:not(:last-child){
      border-bottom: 1px solid var(--black2);
      transition: 0.5s;
    }
    .UserAccessTable table tr td{
         padding: 15px 20px;
         text-align: center;
    }
    .UserAccessTable table tbody tr:hover{
background-color: var(--blue);
color: var(--white);
    }
 .deleteBtn{
  border: 1px solid var(--blue);
  outline: none;
 padding: 12px 18px;
 border-radius: 6px;
 font-size: 18px;
 color: var(--blue);
 background-color: var(--white);
 cursor: pointer;
 transition: all 0.5s; 
 user-select: none;
}

.SwitchesView,.RouterView,.ServerView{  
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  padding: 20px;
  height: 600px;
  margin: 20px 0;
}
.RouterView,.ServerView{
  height: 300px;
}
.SwitchesView .switch,.RouterView .router,.ServerView .server{
  /* background-color: blue; */
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  
}
.switchDetails,
.routerDetails,
.serverDetails{
  position: absolute;
  left: 0;
  top: 110%;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.7s;
  padding: 20px;
}
.switchDetails ul li,
.routerDetails ul li,
.serverDetails ul li  {
  font-size: 18px;
  margin: 5px 0;
}
.switchDetails ul li{
  font-size: 15px;
  margin: 3px 0;
}
.switchDetails ul li span,
.routerDetails ul li span,
.serverDetails ul li span
{
  color: blue;
}




.SwitchesView .switch:hover .switchDetails,
.RouterView .router:hover .routerDetails,
.ServerView .server:hover .serverDetails{
  top: 0;
}

.switchDetails .switch-icon{
  /* background-color: blue; */
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}


.SwitchesView .switch-img,.RouterView .router-img,.ServerView .server-img{
  /* background-color: green; */
  border-radius: 10px;
  position: relative;
  height: 70%;
}

.SwitchesView .switch-img img,
.RouterView .router-img img,
.ServerView .server-img img{
  position: absolute;
left: 0;
top: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* object-fit: cover; */
}
.SwitchesView .switch h2,
.RouterView .router h2,
.ServerView .server h2{
  color: var(--blue);
  margin: 10px 5px;
  font-size: 25px;
}
/* .SwitchesView .switch a,
.RouterView .router a,
.ServerView .server a{
  display: block;
  text-align: center;

  margin: 20px 5px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--white);
  color: var(--blue);
  padding: 10px 12px;
  border: 1px solid var(--blue);
  transition: 0.5s;
}
.SwitchesView .switch a:hover,
.RouterView .router a:hover,
.ServerView .server a:hover{
  background-color: var(--blue);
  color: var(--white);
} */
.switchBtn button{
  
    display: block;
    /* text-align: center; */
  
  
    border-radius: 10px;
    background-color: var(--white);
    color: var(--blue);
    padding: 7px 10px;
    border: 1px solid var(--blue);
    transition: 0.5s;
    cursor: pointer;

}
.switchBtn button:hover{
  background-color: var(--blue);
  color: var(--white);
}
.ipContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  margin: 20px;
}
.ipContainer .ipBox{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 10px;
}
.ipContainer .ipBox h2{
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  
}
.ipContainer .ipBox h2 span{
  color: blue;
}
.ipContainer .ipBox ul li{
  margin: 10px 0;
  font-size: 18px;
}
.ipContainer .ipBox ul li span{
  color: blue;
}

    @media (max-width:991px) {
      .navigation{
        left: -300px;
      }
      .home-section{
   grid-template-columns: repeat(1,1fr);

      }
      .navigation.active{
        width: 300px;
        left: 0;
      }
      .main{
        width: 100%;
        left: 0;
      }
      .main.active{
        left: 300px;
      }
     
    }
    @media (max-width:768px) {
      .SwitchesView,.RouterView,.ServerView{
        grid-template-columns: repeat(2,1fr);
        height: 1200px;
      }
      .ipContainer{
        grid-template-columns: repeat(2,1fr);

      }
      
    .home-section .home-img img{
      width: 350px;
    }
    }
    @media (max-width:480px) {
  
      .navigation{
        width: 100%;
        left: -100%;
        z-index: 999;
      }
      .navigation.active{
        width: 100%;
        left: 0;
      }
      .toggle{
        z-index: 1000;
     

        
      }
      .SwitchesView,.RouterView,.ServerView{
        grid-template-columns: repeat(1,1fr);
        height: 2200px;
      }
      .ipContainer{
        grid-template-columns: repeat(1,1fr);

      }
      .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
      }
    }